{% extends "base.html" %}
{% load return_item %}
{% block title %}All Posts{% endblock %}

{% block content %}

{% if posts %}
    {% for post in posts %}
  
    <div class="container d-flex justify-content-center align-items-center ">
        <div class="row justify-content-center w-100">
            <div class="col-12 col-md-8 col-lg-6 border px-2 rounded">
                <div class="d-flex flex-column">
                    <div class="d-flex gap-2 align-items-center py-2 fs-6 fst-italic">
                        {% comment %} <img style="object-fit: contain;" src="{{ user_images|return_item:post.author.id }}" width="40" alt="User" class="rounded-circle mb-2 border"> {% endcomment %}
                        <img style="object-fit: cover;" src="{{ post.image.url }}" width="60" height="60" alt="User" class="rounded-circle mb-2 border">
                        <span class="fw-bold text-capitalize">{{ post.author }}</span>
                        <span class="text-black-50">{{ post.date }}</span>
                    </div>
                    <div>
                        <p>{{ post.body }}</p>
                    </div>
                </div>
                <div class="">
                    <img src="{{ post.image.url }}" class="card-img-top" alt="...">
                </div>
                <div class="d-flex justify-content-between py-4 fs-6 text-black-50">
                    <a href="{% url 'posts_app:page' slug=post.slug %}" class="fst-italic" style="text-decoration: none; color: gray;">
                        <i class="fas fa-comment me-2"></i> Comment
                    </a>
                    <a href="{% url 'posts_app:page' slug=post.slug %}" class="fst-italic" style="text-decoration: none; color: gray;">comments {{ num_comments|return_item:post.id }}</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

{% else %}
    <h5>Nothing posted yet</h5>
{% endif %}

{% endblock %}
