{% extends "base.html" %}
{% load return_item %}
{% block title %}All Posts{% endblock %}

{% block content %}
{% if posts %}
<a href="{% url 'posts_app:new_post' %}">New Post</a>
    {% for post in posts %}
    <div class='w-50 border px-2 rounded'>

        <div> <!-- Buttons: --> 
            {% if user == post.author %}
            <!-- Delete Button------------------------------------------------------------------------>
            <form id="delete-form" action="{% url 'posts_app:delete_post' post.id %}">
                {% csrf_token %}
                <button  type="button" class="btn btn-danger" onclick="confirmDelete()">Delete</button>
            </form>
            <!---------------------------------------------------------------------------------------->

            <!-- Update Button -------------------------------------------------->
            <form action="{% url 'posts_app:update_post' post.id %}" method="get">
                <button type="submit" class="btn btn-warning">Update</button>
            </form>
            <!------------------------------------------------------------------->

            {% endif %}

            <!--JS Confirm Deletion-->
            <script>
                function confirmDelete() {
                    const confirmed = confirm("Are you sure you want to delete this post?");
                    
                    if (confirmed) {
                        document.getElementById('delete-form').submit();
                    } else {
                        return false;
                    }
                }
            </script>
        </div>
        <!---------------------->
        
        <div class="d-flex flex-column fst-italic">
            <div class="d-flex gap-2 align-items-center py-2 fs-6 fst-italic">
                <img style="object-fit: contain;" src="{{ profile.profile_pic_url }}" width=40 alt="User" class="rounded-circle mb-2">
                <span>{{ post.author }}</span>
                <span class='text-black-50'>{{ post.date }}</span>
            </div>
            <div>
                <h4><a style="text-decoration: none; color:black" href = "{% url 'posts_app:page' slug=post.slug %}">{{post.title}}</a></h4>
                <p> {{ post.body }} </p>
            </div>
            
        </div>
        <div class='rounded'>
            {% if post.image %}
            <img src="{{ post.image.url }}" class="card-img-top rounded" alt="...">
            {% endif %}
        </div>
        
        <div class="d-flex justify-content-between py-2 fs-6 text-black-50">
            
            <a href="{% url 'posts_app:page' slug=post.slug %}" class='fst-italic' style='text-decoration:none; color:gray'>
                <i class="fas fa-comment me-2"></i>  Comment
            </a>
            <a href="{% url 'posts_app:page' slug=post.slug %}" class='fst-italic' style='text-decoration:none; color:gray;'>comments {{ num_comments|return_item:post.id }}</a>
        </div>
    </div>
    {% endfor %}

{% else %}
    <h5>You don't have any published posts yet</h5>
    <a href="{% url 'posts_app:new_post' %}">New Post</a>
{% endif %}

{% endblock %}
