<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Django App
        {% endblock %}
    </title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="{% static 'js/bootstrap.js' %}" defer></script> -->
  </head>

<body>
    <div class="nav nav-pills">
        <li class="nav-item"><a class="nav-link" href="/">About</a></li>
        <li class="nav-item"><a class="nav-link" href="/app2">Sign In</a></li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Shop</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Groceries</a></li>
            <li><a class="dropdown-item" href="#">Clothing</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Furniture</a>
              <ul class="list-unstyled dropdown-submenu">
                <li><a class="dropdown-item" href="#">Kitchen</a></li>
                <li><a class="dropdown-item" href="#">Living Room</a></li>
                <li><a class="dropdown-item" href="#">Bedroom</a></li>
                <li><a class="dropdown-item" href="#">Garden</a></li>
                <li><a class="dropdown-item" href="#">Decor</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item"><a class="nav-link" href="/help">Help</a></li>
    </div>
    <main>
        {% block content %} 
        {% endblock %}
    </main>
</body>
</html>